<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [gridOptions]= "gridOptions"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [modules]="modules"
    (gridReady)="onReady($event)"
    (rowDataChanged)="onReady($event)"
    (rowSelected) = "onRowSelected($event)"
    >
</ag-grid-angular>
<div><span>每頁</span>
  <select (change)="reloadData()">
    <option value='10'>10</option>
    <option value='20'>20</option>
    <option value='30'>30</option>
  </select>
  <span>筆</span>
  <span>{{rowCount}}</span>
</div>
<div>單選範例-有checkbox</div>
<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [gridOptions]= "gridOptionsSample1"
    [rowData]="rowData1" 
    [columnDefs]="columnDefs1"
    [modules]="modules"
    (gridReady)="onReady1($event)"
    (rowSelected) = "onRowSelected1($event)"
    >
</ag-grid-angular>
<div>多選範例-有checkbox</div>
<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [gridOptions]= "gridOptionsSample2"
    [rowData]="rowData2" 
    [columnDefs]="columnDefs2"
    [modules]="modules"
    (gridReady)="onReady2($event)"
    (rowSelected) = "onRowSelected2($event)"
    >
</ag-grid-angular>
<div>單選範例-無checkbox</div>
<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [gridOptions]= "gridOptionsSample3"
    [rowData]="rowData3" 
    [columnDefs]="columnDefs3"
    [modules]="modules"
    (gridReady)="onReady3($event)"
    (rowSelected) = "onRowSelected3($event)"
    >
</ag-grid-angular>
<div>有換頁選單</div>
<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [gridOptions]= "gridOptionsSample4"
    [rowData]="rowData4" 
    [columnDefs]="columnDefs4"
    [modules]="modules"
    (gridReady)="onReady4($event)"
    (rowSelected) = "onRowSelected4($event)"
    >
</ag-grid-angular>

